<p id="notice"><%= notice %></p>

<h1>Selecio o setor para excluir</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Descrisao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @setors.each do |setor| %>
      <tr>
        <td><%= setor.descrisao %></td>
        <td><%= link_to 'Destroy', setor,class:"btn btn-danger   btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('back'), setors_path,class:"btn btn-secondary btn-sm" %>
